name: Publish

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-helm-chart:
    name: Publish Helm chart
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
      - name: Detect version
        id: version
        uses: reiche-world/actions/determine-version@feature/version
      - uses: reiche-world/actions/publish-helm-chart@feature/version
        with:
          user: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          chartPath: charts/traefik-secrets-exporter
          chartVersion: ${{ steps.version.outputs.tag }}
          appVersion: ${{ steps.version.outputs.tag }}
